<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>277190928117-af7bmq9g701b2me1o31k5bcj4ajgt72p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.277190928117-af7bmq9g701b2me1o31k5bcj4ajgt72p</string>
	<key>API_KEY</key>
	<string>AIzaSyAMAkoTBBCwiK9lyvGi6sUFKgaa4IMSOkg</string>
	<key>GCM_SENDER_ID</key>
	<string>277190928117</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hk.edu.hkbu.comp.reach2019</string>
	<key>PROJECT_ID</key>
	<string>reach2019-82cef</string>
	<key>STORAGE_BUCKET</key>
	<string>reach2019-82cef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:277190928117:ios:f59c18ae8ee449194087bc</string>
	<key>DATABASE_URL</key>
	<string>https://reach2019-82cef.firebaseio.com</string>
</dict>
</plist>
